.pagination{
  display: flex;
  gap: 10px;
  margin-top: 30px;
  justify-content: flex-end;

  &__item{
    text-decoration: none;
    height: 44px;
    line-height: 30px;
    min-width: 44px;
    padding: 10px;
    color: $primary;
    border: 1px solid $lightGray2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:hover{
      background-color: $lightGray2;
      text-decoration: none;
    }

    &.active{
      background-color: $lightGray2;
      font-weight: 700;
    }
  }
}