.link{
  &:hover{
    text-decoration: none;
    .part{
      background-color: $lightGray;
    }
  }
}

.part {
  padding: 12px;
  border: 1px solid $lightGray;
  border-radius: 4px;
  display: flex;
  gap: 20px;
  transition: .3s;

  .image{
    width: 260px;

    img{
      width: 100%;
    }
  }

  .content{
    padding-right: 40px;
    flex-grow: 1;

    &__title{
      font-weight: bold;
      font-size: 18px;
    }

    &__description{
      font-size: 13px;
      color: #666;
    }

    &__price{
      font-size: 24px;
      font-weight: bold;
    }

    &__fee{
      font-size: 13px;
    }

    &__seller{
      margin-top: 5px;
      font-size: 13px;

      span{
        display: flex;
        align-items: center;
        gap: 5px;
        color: $primary;

        svg{
          stroke: $primary;
          width: 16px;
          height: 16px;
        }
      }
    }

    &__region{
      font-size: 13px;
      color: #666;
    }
  }
}