.link{
  &:hover{
    text-decoration: none;
    .part{
      background-color: $lightGray;
    }
  }
}

.part {
  padding: 12px;
  border: 1px solid $lightGray;
  border-radius: 4px;
  display: flex;
  gap: 20px;
  transition: .3s;

  &:hover{
    .actions{
      opacity: 1;
      z-index: 10;
    }
  }

  .image{
    width: 260px;
    height: 192px;

    img{
      height: 192px;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  .content{
    padding-right: 40px;
    flex-grow: 1;
    position: relative;

    &__title{
      font-weight: bold;
      font-size: 18px;
    }

    &__description{
      font-size: 13px;
      color: $gray;
    }

    &__price{
      font-size: 24px;
      font-weight: bold;
    }

    &__fee{
      font-size: 13px;
    }

    &__seller{
      margin-top: 5px;
      font-size: 13px;

      span{
        display: flex;
        align-items: center;
        gap: 5px;
        color: $primary;

        svg{
          stroke: $primary;
          width: 16px;
          height: 16px;
        }
      }
    }

    &__region{
      font-size: 13px;
      color: #666;
    }
  }
}

.actions{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
  transition: .3s;
}