.skeleton {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
}

.skeletonImage {
  width: 260px;
  height: 192px;
  background-color: #e0e0e0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: loading 1.5s infinite;
  }
}

.skeletonText {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}