.head{
  background-image: url("/images/bg_main.webp");
  background-repeat: repeat-x;
  flex-grow: 1;
  background-position: bottom left;
  background-size: 70%;
}

.content{
  padding: 96px 0;

  h1, .content__desc{
    width: 60%;
    min-width: 500px;

    span{
      color: $primary;
      font-weight: bold;
    }
  }

  .content__desc{
    margin: 20px 0;
  }
}