.partshare{
  font-size: 14px;
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 12px;
  margin-top: 12px;

  p a{
    color: $cyan-700;
  }

  &__social{
    display: flex;
    gap: 8px;

    svg{
      fill: white;
      transition: .150s;
      cursor: pointer;

      &.active{
        fill: black;
      }

      &:hover{
        fill: black;
      }
    }
  }
}