$primary: #075985;
$secondary: rgb(250 204 21 / 1);

$cyan-700: rgb(14 116 144 / 1);
$cyan-100: #e9f4fe;

$lightGray: #e7e7e7;
$lightGray2: rgb(229 231 235 / 1);
$lightGray3: rgb(209 213 219 / 1);
$lightGray4: rgba(120,120,120,.9);

$gray: #666666;
$gray2: rgba(150,150,150,.5);