.breadcrumbs{
  margin: 18px 0;

  &__content{
    display: flex;
    font-size: 12px;
    line-height: 20px;
    gap: 8px;
  }

  &__item{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__arrow{
    flex-shrink: 0;
    width: 12px;
  }
}