@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "./styles/margins.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Inter", sans-serif;
  line-height: 1.5;
}

#root{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container_short{
  max-width: 840px;
}

.w-6{
  color: inherit;
  width: 1.5rem;
}