.section{
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;

  .select{
    max-width: calc(30% - 21px);
    width: 100%;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 16px;
  }

  &.loading{
    &:after{
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(1px);
    }
  }
}

