.main{
  display: flex;
  gap: 20px;

  &__general{
    width: 60%;

    img{
      width: 100%;
      height: auto;
    }
  }

  &__description{
    width: 40%;

    h1{
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
    }

    &__seller{
      margin: 8px 0;
      font-size: 14px;
    }
  }
}

.price{
  font-size: 12px;
  color: #9CA3AF;

  &__general{
    font-weight: bold;
    color: #0E7490;
    font-size: 24px;
    line-height: 40px;
  }

  &__fee{
    color: black;
    font-size: 14px;
  }
}